# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# MLflow
mlruns/
mlartifacts/

# Database
*.db
*.sqlite

# Models (keep production)
models/v*/
!models/production/

# Data files (keep .gitkeep)
data/*.csv
data/*.parquet
!data/.gitkeep
!data/reference_data.csv

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# ignore all the files in the data/stream_batches folder
data/stream_batches/*
